extends frag/framework

block style
    style
        :stylus
            .yahei
                font-family "Microsoft YaHei"

block content
    main
        a.waves-effect.waves-light.btn.modal-trigger.yahei(href="#upload") 上传

